body {
    padding: 0px;
    margin: 0px;
    background-color: black;
}

.banner {
    background-image: url("https://blogs.revv.co.in/blogs/wp-content/uploads/2021/03/The-Holi-Soda-2.0-1024x557.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
     background-position: center bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
}

.banner h1 {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0px;
    display:flex;
    color: white;
    text-align: center;
}
.card {
    width:15rem;
}
.title {
    margin-bottom:20px;
    border-bottom: 2px solid #808080;
    text-align: center;
}

.title h1 {
    overflow: hidden;
    position: relative;
    line-height: 24px;
    white-space: nowrap;
    text-transform: uppercase;
    bottom: -25px;
    display: inline-block;
    padding: 5px; 
    max-width: 80%;
    border:  solid #fff;
    border-width: 0px;
    font-size: 18px;
    background: black;
    color:white;

    
}
